.secondary-font {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

.nav-link {
    color: #FAFAFA;
}

.nav-link:hover {
    color: #FFA21C;
}

.outline-box {
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 5px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
}

.btn.dancer-btn {
    background-color: rgb(122, 86, 150);
    border-radius: 0;
    transition: opacity 0.2s, transform 0.2s;
    font-size: 1.75rem;
    width: 4em;
    margin: 0.7rem 1px;
    padding: 0.4em 1em;
}

.btn.start-btn {
    background-color: #f04968;
    border-radius: 0.8rem;
    color: #fff !important;
    font-size: 1.75rem;
    display: inline-block;
    text-align: center;
    transition: opacity 0.2s;
    opacity: 0.6;
    padding: 0.5em;
    width: calc(12em + 4px);
}

.btn.start-btn:hover {
    color: #fff;
    opacity: 1;
}

.btn:focus {
    box-shadow: none !important;
}

.recharts-responsive-container {
    margin: 0 auto;
}

.ending-nums {
    color: #f04968;
    line-height: 3rem;
    font-size: 1.2rem;
}

.side-nav .nav-item {
    background-color: #FAFAFA;
    cursor: pointer;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

/* PRACTICE HIST */

table {
    font-size: 0.9rem;
}

table tr, table td, table thead th {
    border: 1px solid #707070 !important;
}

thead {
    background-color: #41547F;
    color: #FAFAFA;
    border: 1px solid #707070;
}

.red-bg, .green-bg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.red-bg {
    background-color: #f04968;
    opacity: 0.3;
}

.green-bg {
    margin-left: -0.3rem;
    margin-top: -0.3rem;
    background-color: green;
    opacity: 0.4;
}

.info-icon {
    position: relative;
}

.info-icon .show-info {
    display: none;
    background-color: #021F2D;
    border-radius: 5px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 0.75rem;
    position: absolute;
    top: -30px;
    transform: translateY(-50%);
    right: 0;
    width: 120px;
    padding: 0.4em;
}

.info-icon .show-info::after {
    content: '▼';
    position: absolute;
    bottom: -12px;
    right: 40%;
    color: #021F2D;
}

.info-icon img:hover+.show-info {
    display: block;
}

.btn.delete-all-btn {
    background-color: #f04968;
    color: white !important;
    font-size: 0.8em;
    display: block;
    margin-top: 1em;
}

.fa {
    font-size: 1rem;
}

.btn.edit-btn {
    font-size: 0.85rem;
    color: white !important;
    background-color: #41547f;
    margin-bottom: 1em;
}

.react-datepicker__tab-loop {
    display: inline-block;
}