a:hover {
    text-decoration: none !important;
}

.nav-link {
    color: #FAFAFA;
}

.nav-link:hover {
    color: #FFA21C;
}

.outline-box {
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 5px;
}

.btn.dancer-btn {
    background-color: rgb(122, 86, 150);
    border-radius: 0;
    transition: opacity 0.2s, transform 0.2s;
    font-size: 1.75rem;
    width: 4em;
    margin: 0.7rem 1px;
    padding: 0.4em 1em;
}

.btn.start-btn {
    background-color: #f04968;
    border-radius: 0.8rem;
    color: #fff !important;
    font-size: 1.75rem;
    display: inline-block;
    text-align: center;
    transition: opacity 0.2s;
    opacity: 0.6;
    padding: 0.5em;
    width: calc(12em + 4px);
}

.btn.start-btn:hover {
    color: #fff;
    opacity: 1;
}

.btn:focus {
    box-shadow: none !important;
}

.end-square {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1rem;
    background-color: #fff;
}

.recharts-responsive-container {
    margin : 0 auto;
  }