.prac-hist.card {
    border-color: transparent;
    margin: 0.5em 0;
}

.prac-hist .card-header {
    background-color: #41547F;
    color: #FAFAFA;
    line-height: 2rem;
    position: relative;
}

.prac-hist .card-header::after, .prac-hist .collapse::before, .prac-hist .collapse::after {
    top: 1.75rem;
    transform: translateY(-50%);
    right: 1.25em;
    position: absolute;
}

.prac-hist .card-header::after {
    content: '+';
    color: #FAFAFA;
}

.prac-hist .collapse::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #41547F;
}

.prac-hist .collapse::after {
    content: '';
    width: 7px;
    height: 1px;
    background-color: #FAFAFA;
}

table {
    font-size: 0.9rem;
}

thead {
    background-color: rgba(65, 84, 127, 0.1);
}

.red-bg, .green-bg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.red-bg {
    margin-left: -0.3rem;
    margin-top: -0.3rem;
    background-color: red;
    opacity: 0.3;
}

.green-bg {
    background-color: green;
    opacity: 0.4;
}

.info-icon {
    position: relative;
}

.info-icon .show-info {
    display: none;
    background-color: #021F2D;
    border-radius: 5px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 0.75rem;
    position: absolute;
    top: -96%;
    transform: translateY(-50%) translateX(-30px);
    width: 120px;
    padding: 0.4em;
}

.info-icon .show-info::after {
    content: '▼';
    position: absolute;
    bottom: -13px;
    left: 66px;
    color: #021F2D;
}

.info-icon img:hover+.show-info {
    display: block;
}

.delete-all-btn {
    font-size: 0.8em;
    display: block;
    margin-left: auto;
}